<IfModule mod_rewrite.c>
  Options +FollowSymlinks
   RewriteEngine On
    # RewriteRule ^dl/login/index.html$ index.php?m=daili&c=login&a=index [NC,L]
   #RewriteRule ^dl/sina/index.html$ index.php?m=daili&c=index&a=index [NC,L]
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
</IfModule>